.Rproj.user
.Rhistory
*.Rproj
_*.html
biostats-1/doc/~*.*
biostats-1/src/~*.*
biostats-1/src/*.html
biostats-1/src/*.pptx
biostats-2/general/~*.*
biostats-2/module01/~*.*
biostats-2/module02/~*.*
biostats-2/general/*.html
biostats-2/module01/*.html
clinical-research-methodology/modules/*.html
clinical-research-methodology/results/~*.*
clinical-research-methodology/src/*.html
introduction-to-r/modules/*.html
introduction-to-r/results/~*.*
introduction-to-r/src/*.html
software-engineering/results/~*.*
data-visualization/data-viz-01/data/*.sas7bdat
data-visualization/data-viz-02/data/*.sas7bdat
data-visualization/data-viz-03/data/*.sas7bdat
data-visualization/data-viz-01/results/*.pdf
data-visualization/data-viz-02/results/*.pdf
data-visualization/data-viz-03/results/*.pdf
